	<%= form_for(@cliente) do |f| %>
		<h1>Ingrese nuevo cliente</h1>

	<div class="field">
		<%= f.text_field :rut, placeholder: "11222333", :maxlength=>"8" %>
	<%="  -  "%>
	<class="field" size-80">
		<%= f.text_field :digito, placeholder: "1" , :maxlength=>"1" %>
	</div></br>

	<div class="field">
		<%= f.text_field :nombre, placeholder: "Nombre" %>
	</div></br>


		<%= f.submit "Guardar" %>

	</div></br>

	<% @cliente.errors.full_messages.each do |message|%>
			<div class="be-re"><%=message%></div>
		<%end%>
	<%end%>