<%= form_for(@insumo) do |f| %>
<h1>Ingresar nuevo insumo</h1>

<% @insumo.errors.full_messages.each do |message|%>
	<div><%=message%></div>
<%end%>
<div class="field">
	<%= f.text_area :nombre, placeholder: "Nombre" %>
</div>
<div class="field">
	<%= f.text_area :precio, placeholder: "Precio" %>
</div>
<div class="field">
	<div>Unidad de medida:</div>
    <%= f.collection_select :medida_id, Medida.all, :id, :nombre %>
  </div>
<div class="field">
	<%= f.submit "Guardar" %>
</div>
<%end%>
<P>
	
</P>
 <td><%= link_to "REGRESAR A INSUMOS", :action => "index" %></td>