<%= form_for(@pedido) do |f| %>
<h2>Pedido en espera. Para registrar pedido ingrese cantidad abonada</h2>
<% @pedido.errors.full_messages.each do |message|%>
	<div class="letter-red"><%=message%></div>
	<p></p>
	<%end%>
<div>Cantidad abonada:</div>
<div class="field">
	<%= f.text_field :abonado, {:value => @abonado} %>
	<aside>
		<div>Comentario:</div>
		<div class="field">
		<%= f.text_area :comentario, placeholder: "Comentario" %>
		</div>
		</aside>
</div>




<p>
	
</p>
<div class="field">

	<%= f.submit "Guardar" %>
</div>
<%end%>
<p></p>
<u class="be-re"><td><%= link_to "DEJAR PEDIDO EN ESPERA", :action => "index" %></td></u>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>