<html>
<head>
<title>Pedidos</title>
</head>
<body>

<h1>Pedidos pendientes</h1>
<table class="table table-striped table-hover" >
 <tr>
  <td ><p><i><b>Cliente</b></i></td>
  <td ><p><i><b>Costo total</b></i></td>
  <td ><p><i><b>Abonado</b></i></td>
  <td ><p><i><b>Fecha entrega</b></i></td>
  <td ><p><i><b></b></i></td>
 </tr>

 
 <% @pedidos.each do |a| %>
 <%precio = 0%>
 <% if a.entregado === false then%>
  <tr>
   <td><%=a.cliente%></td>
   <% items = Item.where(pedido_id: [a.id])%>
   <% items.each do |b| %>
   <% precio = precio + Producto.where(id: [b.producto_id]).sum("precio")*b.cantidad%>
   	<%end%>
   <td><%=precio%></td>	
   <td><%=a.abonado%></td>
   <td><%=a.entrega%></td>	
   <td><button type="button" class="btn btn-primary" onClick="location.href='pedidos/new'" />Entregar</button></td>
   <td><%= link_to 'Entregar ', a, method: :delete%></td> 
   
  </tr>
 <%end%>
 <%end%>
</table>
<p><input type="button" value="Ingresar nuevo pedido" onClick="location.href='pedidos/new'" />

</body>
</html>
