<h1>Pedido Cliente: <%= @pedido.cliente%></h1>
<h1>Pedido fecha: <%= @pedido.entrega%></h1>
<table class="table table-striped table-hover table-condensed" >
 <tr>
  <td><p><i><b>Insumo</b></i></td>
  <td><p><i><b>Cantidad</b></i></td>
 </tr>

 <% @items.each do |a| %>
  
<% if a.pedido_id === @pedido.id then%>
	<tr>
   <td><%=a.producto.nombre%></td>
   <td><%=a.cantidad %></td>
    <td><%= link_to 'Eliminar', [a.pedido, a], method: :delete%></td>	
   </tr>
   <% else %>
   <% end %>
 <% end %>
</table>


<%= form_for([@pedido,@item]) do |f| %>
<h1>Agregar productos a pedido</h1>

<div class="field">
	<div>Producto:</div>
  <%productos=Producto.all%>
  <%productos = productos.order('nombre')%>
    <%= f.collection_select :producto_id, productos, :id, :nombre %>
  </div>

<div class="field">
	<div>Cantidad:</div>

	<%= f.text_field :cantidad, placeholder: "0" %>
</div>
<div class="field">
	<%= f.submit "Agregar" %>
</div>
<%end%>
<div><%Pedido.update(@pedido.id, :entregado => 'false')%></div>
<p></p>
 <td><%= link_to "REGISTRAR PEDIDO", :action => "edit" %></td>

