<%= form_for(@elemento) do |f| %>
<h1>AGREGAR INSUMOS AL INVENTARIO</h1>

<div class="field">
	<div>Insumo:</div>
    <%= f.collection_select :insumo_id, Insumo.all, :id, :nombre %>
  </div>
<div class="field">
	<div>Cantidad:</div>
	<%= f.text_area :cantidad, placeholder: "0.0" %>
</div>
<div class="field">
	<div>Vecha de vencimiento:</div>
	<%= f.text_area :vencimiento, placeholder: "AAAA/MM/DD" %>
</div>
<div class="field">
	<%= f.submit "Guardar" %>
</div>
<%end%>

 <td><%= link_to "volver", :action => "index" %></td>
