<%= form_for(@elemento) do |f| %>
<h1>Agregar insumosal inventario</h1>
<% @elemento.errors.full_messages.each do |message|%>
	<div><%=message%></div>
<%end%>
<div class="field">
	<div>Insumo:</div>
    <%= f.collection_select :insumo_id, Insumo.all, :id, :nombre %>
  </div>
<div class="field">
	<div>Cantidad:</div>
	<%= f.text_area :cantidad, placeholder: "0.0" %>
</div>
<div class="field">
	<div>Vecha de vencimiento:</div>
	<%= f.text_area :vencimiento, placeholder: "AAAA/MM/DD" %>
</div>
<div class="field">
	<%= f.submit "Guardar" %>
</div>
<%end%>
<p>
	

</p>
 <td><%= link_to "REGRESAR A INVENTARIO" , :action => "index" %></td>

