<h1>Se han agregado</h1>
<div>
<%= @elemento.cantidad %> <%= @elemento.insumo.medida.nombre%> de <%= @elemento.insumo.nombre%> que vencen en <%= @elemento.vencimiento%>
</div>
 <td><%= link_to "Volver", :action => "new" %></td>