<%if can? :create, Medida%>
	<%if !Hoja.find_by producto_id: @producto.id%>
	<h1>Receta sin elementos. Para continuar por favor ingrese algun elemento</h1>
	<input type="button" value="VOLVER" onClick="history.back()" />
	<%else%>
	<h1><%= @producto.nombre%></h1>
	<%total=0.0%>
	<%hojas=Hoja.all%>
	<%hojas.each do |a|%>
	    <%if a.producto_id==@producto.id%>
	        <%total=total+a.porcion*a.insumo.precio%>
	    <%end%>
	<%end%>
	<%@total=0.0%>
	<%elementos=Elemento.all%>
	<%hojas=Hoja.all%>
	<%hojas.each do |h|%>
        <%if @producto.id == h.producto_id%>
            <%@pcfinal=0.0%>
            <%@cuantos=0.0%>
            <%elementos.each do |e|%>
                <%if h.insumo_id==e.insumo_id%>
                    <%hoy=Date.today%>
                    <%comprado=e.created_at%>
                    <%ano=comprado.year.to_i%>
                    <%mes=comprado.month.to_i%>
                    <%dia=comprado.day.to_i%>
                    <%time = Date.new ano, mes, dia%>
                    <%dias=(hoy-time).to_i%>
                    <%if !e.cod_elemento.blank? and dias < 32%>
                    	<%@pcfinal=@pcfinal+e.cod_elemento*e.cantidad%>
                        <%@cuantos=@cuantos+e.cantidad%>
                   	<%else%>
                        <%@pcfinal=@pcfinal+e.insumo.precio%>
                        <%@cuantos=@cuantos+1%>
                    <% end -%>
                <% end -%>
            <% end -%>
            <%pfinal=@pcfinal/@cuantos%>
            <%@total=@total+h.porcion*pfinal%>
        <% end -%>
	<% end -%>
	<%Producto.update(@producto.id, :costo => total)%>
	<div class="container">
		      <div class="col-md-3 col-md-offset-2">
		        <table class="table table-striped table-hover table-condensed   " >
		          <thead>
		            <tr>
		              <th><center><div class="size-165">Costo mercado</div></center></th>
		              <th><center><div class="size-220">Precio sugerido mercado</div></center></th>
		              <th><center><div class="size-165">Costo últimos insumos</div></center></th>
		              <th><center><div class="size-165">Precio sugerido</div></center></th>
		            </tr>                  
		          </thead>
		          <tr>
		          	<td><center><%=total.to_i%></center></td>
		          	<td><center><%=(total*2).to_i%></center></td>
		          	<% if @total > 0%>
		          		<td><center><%=(@total).to_i%></center></td>
		          	<%else%>
		          		<td><center>Sin compras</center></td>
		          	<%end%>
		          	<% if @total > 0%>
		          		<td><center><%=(@total*2).to_i%></center></td>
		          	<%else%>
		          		<td><center><%=(total*2).to_i%></center></td>
		          	<%end%>
		          </tr>
		        </table>
		       </div>
	</div>

	<%= form_for(@producto) do |f| %>
	<%if !@producto.precio.blank? and @producto.precio==0%>
		<div class="be-re">Precio: DEBE INGRESAR NUMERO SUPERIOR A 0</div>
	<%end%>
	<%if !@producto.precio.blank? and @producto.precio==@producto.costo%>
		<div class="be-re">Precio: DEBE SER IGUAL O SUPERIOR AL COSTO MERCADO</div>
	<%end%>
	<% @producto.errors.full_messages.each do |message|%>
		<div class="be-re"><%=message%></div>
		<%end%>
		<th>Ingresar Precio Final: </th>
	<div class="field">
		<%= f.text_field :precio%>

	</div>
	<p></p>
		<%= f.submit "Guardar" %>
	</div>

	<%end%>
	<%end%>
<%end%>