<%if can? :read, Producto%>
  <html>
    <head>
      <title>Recetas </title>
    </head>
    <body>
      <h1> Productos disponibles</h1>
      <%if Producto.last%>
        <%pru = Producto.all%>
        <%pru.each do |c|%>
        <%if !c.creado.blank? and c.creado > 0%>
          <div class="be-re">PRODUCTO: <%=c.nombre.upcase%> INGRESADO SATISFACTORIAMENTE</div>
          <%Producto.update(c.id, :creado => 0)%>
        <%end%>
      <%end%>

        <div class="container">
          <div class="col-md-4 col-md-offset-1">
            <table class="table table-striped table-hover table-condensed   " >
              <thead>
                <tr>
                  <th><div class="size-330">Producto</div></th>
                  <th><div class="size-165">Precio</div></th>
                  <th><div class="size-165">     </div></th>
                  
                </tr>                  
              </thead>
              <%productos = @productos.order('nombre')%>
              <% productos.each do |a| %>
                <tr>
                  <td><%=a.nombre%></td>
                  <td><%=a.precio%></td>
                  <%if can? :create,Hoja%>         
                  <td><input type="button" value="Editar receta" onClick="
                  location.href='productos/<%=a.id%>'" /></td>
                  <%else%>
                  <td><input type="button" value="Ver receta" onClick="
                  location.href='productos/<%=a.id%>'" /></td>
                  <%end%>
                </tr>
              <% end %>
            </table>  
            <%=will_paginate @productos%>

          </div>
        </div>
      <%else%>
        <% if can? :create, Producto %>
          <h3 class="be-re">No se han ingresado productos al sistema.</h3>
        <%else%>
          <h3 class="be-re">No se han ingresado productos al sistema. Conmuníquese con administrador</h3>
        <% end -%>
      <% end -%>
      <% if can? :create, Producto %>
            <p><input type="button" value="Ingresar nuevo producto" onClick="location.href='productos/new'" /></p>
            <% end -%>
        </br>  
        </br>  
        </br>  
        </br>  
        </br>  
        </br>
        
      

      
      
    </body>
  </html>

<%end%>