<%if can? :read, Producto%>
  <html>
    <head>
      <title>Recetas </title>
    </head>
    <body>
      <h1> Productos disponibles</h1>
      <%if Producto.last%>
        <%pru = Producto.all%>
        <%pru.each do |c|%>
        <%if !c.creado.blank? and c.creado > 0%>
          <div class="be-re">PRODUCTO: <%=c.nombre.upcase%> INGRESADO SATISFACTORIAMENTE</div>
          <%Producto.update(c.id, :creado => 0)%>
        <%end%>
      <%end%>

        <div class="container">
          <div class="col-md-4 col-md-offset-1">
            <table class="table table-striped table-hover table-condensed   " >
              <thead>
                <tr>
                  <th><center><div class="size-165">Producto</div></center></th>
                  <th><center><div class="size-110">Precio</div></center></th>
                  <%if can? :create,Hoja%>         
                    <th><center><div class="size-165">Costo Total</div></center></th>
                    <th><center><div class="size-165">Precio sugerido</div></center></th>
                    <th><div class="size-110">     </div></th>
                    <th><div class="size-110">     </div></th>
                  <%end%>
                  
                </tr>                  
              </thead>
              <%productos = @productos.order('nombre')%>
              <% productos.each do |a| %>
                <tr>
                  <td><%=a.nombre%></td>
                  <td><%=a.precio%></td>
                  <%if can? :create,Hoja%>         
                  <%@total=0.0%>
                  <%elementos=Elemento.all%>
                  <%hojas=Hoja.all%>
                  <%hojas.each do |h|%>
                    <%if a.id == h.producto_id%>
                      <%@pcfinal=0.0%>
                      <%@cuantos=0.0%>
                      <%elementos.each do |e|%>
                        <%if h.insumo_id==e.insumo_id%>
                          <%hoy=Date.today%>
                          <%comprado=e.created_at%>
                          <%ano=comprado.year.to_i%>
                          <%mes=comprado.month.to_i%>
                          <%dia=comprado.day.to_i%>
                          <%time = Date.new ano, mes, dia%>
                          <%dias=(hoy-time).to_i%>
                          <%if !e.cod_elemento.blank? and dias < 32%>
                              <%@pcfinal=@pcfinal+e.cod_elemento*e.cantidad%>
                              <%@cuantos=@cuantos+e.cantidad%>
                          <%else%>
                              <%@pcfinal=@pcfinal+e.insumo.precio%>
                              <%@cuantos=@cuantos+1%>
                          <% end -%>
                        <% end -%>
                      <% end -%>
                          <%pfinal=@pcfinal/@cuantos%>
                          <%@total=@total+h.porcion*pfinal%>
                    <% end -%>
                  <% end -%>

                  <%if @total>0%>
                    <td><center><%=@total.to_i%></center></td>
                    <%if @total.to_i*4 > a.precio%>
                      <td class="be-alert"><center><%=@total.to_i*4%></center></td>
                    <%elsif @total.to_i*4 == a.precio%>
                      <td ><center><%=@total.to_i*4%></center></td>
                    <%else%>
                      <td class="be-red"><center><%=@total.to_i*4%></center></td>
                    <%end%>
                  <%else%>
			<%if !a.costo.blank?%>
                    		<td><center><%=a.costo*2%></center></td>
			<%else%>
				<td><center><%="0"%></center></td>
			<%end%>
		    <%if !a.precio.blank? and !a.costo.blank?%>

                    	<%if a.costo*4 > a.precio%>
                      		<td class="be-alert"><center><%=a.costo*4%></center></td>
                    	<%elsif a.costo*4 == a.precio%>
                      		<td ><center><%=a.costo*4%></center></td>
                    	<%else%>
                      		<td class="be-red"><center><%=a.costo*4%></center></td>
                    	<%end%>
		    <%else%>
                      	<td class="be-alert"><center><%="0"%></center></td>
		    <%end%>
                  <%end%>
                        
                  <td><input type="button" value="Editar receta" onClick="
                  location.href='productos/<%=a.id%>'" /></td>
                  <td><input type="button" value="Cambiar precio" onClick="
                  location.href='productos/<%=a.id%>/edit'" /></td>
                  <%else%>
                  <td><input type="button" value="Ver receta" onClick="
                  location.href='productos/<%=a.id%>'" /></td>
                  
                  <%end%>

                </tr>
              <% end %>
            </table>  
            <%=will_paginate @productos%>

          </div>
        </div>
      <%else%>
        <% if can? :create, Producto %>
          <h3 class="be-re">No se han ingresado productos al sistema.</h3>
        <%else%>
          <h3 class="be-re">No se han ingresado productos al sistema. Conmuníquese con administrador</h3>
        <% end -%>
      <% end -%>
      <% if can? :create, Producto %>
            <p><input type="button" value="Ingresar nuevo producto" onClick="location.href='productos/new'" /></p>
            <% end -%>
        </br>  
        </br>  
        </br>  
        </br>  
        </br>  
        </br>
        
      

      
      
    </body>
  </html>

<%end%>
