<%= form_for(@producto) do |f| %>
<h1>Ingresar nueva receta</h1>
<% @producto.errors.full_messages.each do |message|%>
	<div><%=message%></div>
	<%end%>
<div class="field">
	<%= f.text_area :nombre, placeholder: "Nombre" %>
</div>
<div class="field">
	<%= f.text_area :precio, placeholder: "Precio del producto" %>
</div>
	<%= f.submit "Guardar" %>
</div>
<%end%>
<p><td><%= link_to "REGRESAR A PRODUCTOS", :action => "index" %></td></p>